@media screen and (min-width: 768px) and (max-width: 1024px){
    :root {
        --cor1:#a0dbf2;
        --cor2:#608FE0;
        --cor3:#1C61D9;
        --cor4:#164AA6;
        --cor5:#0C2859;
        --fonte1: "Roboto", sans-serif;
        --fonte2: "Montserrat", sans-serif;
    }
    
    html{
        overflow-x: hidden;
        font-size: 40%; 
        scroll-behavior: smooth;
    }
    
    /* HEADER */
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0px 0px 0px 20px;
        background-color: var(--cor5);
        color: white;
        position: fixed;
        width: 100%;
        height: 50px;
        z-index: 100;
    }
    
    nav div.logo{
        padding-top: 20px;
    }
    
    #button{
        display: block;
    }
    
    .hamburguer{
        position: absolute;
        border: none;
        background: none;
        border-top: 3px solid white;
        cursor: pointer;
        margin-top: 15px;
        right: 40px;
        z-index: 2000;
    }
    
    .hamburguer::before,
    .hamburguer::after{
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background: white;
        margin-top: 5px;
        position: relative;
        transition: .3s;
    }
    
    .active .hamburguer{
        border-top-color: transparent;
    }
    
    .active .hamburguer::before{
        transform: rotate(135deg);
    }
    
    .active .hamburguer::after{
        transform: rotate(-135deg);
        top: -7.7px;
    }
    
    .list-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh + 20px);
        background-color: var(--cor5);
        width: 80vw;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }
    
    .active .list-menu{
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: calc(100vh + 20px);
        background-color: var(--cor5);
        width: 80vw;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateX(0%);
    }
    
    .menu li a{
        color: white;
        z-index: 2000;
    }
    
    nav button#btn{
        display: none;
    }
    
    div.divisao{
        position: absolute;
        background-color: var(--cor5);
        width: 700px;
        height: 100vh;
        right: 0;
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 80% 100%);
        opacity: 0;
    }

    /* SECTION SOBRE */

    section#sobre{
        height: 1100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        align-items: center;
        padding-top: 50px;
    }
    
    section#sobre div#txtsobre{
        width: 500px;
        text-align: center;
    }

    section#sobre div#txtsobre h1{
        font-size: 6rem;
        padding-bottom: 40px;
        color: var(--cor5);
    }
    section#sobre div#txtsobre p{
        font-size: 3.5rem;
        padding-bottom: 30px;
    }
    
    section#sobre div#imgsobre img{
        width: 600px;
    }
    
    section#sobre div#txtsobre button{
        z-index: 2000;
    }

    /* MAIN */
    /* SECTION SERVICOS */
    section#servicos{
        height: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(245, 245, 245);
    }

    section#servicos div#titulo h2{
        font-size: 6rem;
        color: var(--cor5);
        padding-top: 50px;
    }
    
    section#servicos div#titulo p{
        width: 500px;
        font-size: 2.5rem;
        padding-top: 20px;
    }
    
    div#cards{
        padding-top: 60px;
        display: grid;
        gap: 50px;
        grid-template-columns: repeat(2, 240px);
        justify-content: space-around;
    }

    div.cards h4{
        position: absolute;
        font-size: 2.5rem;
        color: white;
        font-weight: bold;
    }
    
    div.cards div.info h3{
        font-size: 3REM;
    }

    div.cards div.info p{
        font-size: 2REM;
        width: 200px;
    }

     /* SECTION GALERIA */
     section#galeria{
        height: 900px;
    }

    section#galeria h2{
        color: var(--cor5);
        font-size: 6rem;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 80px;
    }

    section#galeria div#fotos{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
        padding: 0 1vw;
    }

    section#galeria div.fotos p{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        padding-top: 8px;
    }

    /* SECTION CONTATO */
    section#contato{
        height: 450px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-image: url(../Imagens/cama2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: relative;
    }
    
    div.contato{
        margin: 0px 0px 0px 0px;
        height: 100%;
        width: 100%;
        background-color:rgba(0, 0, 0, 0.664);
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    div.contato h2{
        padding-bottom: 45px;
        padding-top: 110px;
        color: white;
    }

    div.contatos{
        padding-bottom: 0px;
    }
    
    div.imgcontato img{
        display: none;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1212px){

    nav ul {
        display: flex;
        gap: 70px;
        z-index: 50;
    }

    div.divisao{
        position: absolute;
        background-color: var(--cor5);
        width: 700px;
        height: calc(100vh + 60px);
        right: 0;
        clip-path: polygon(60% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    section#servicos{
        height: 1100px;
    }

    div#cards{
        padding-top: 60px;
        display: grid;
        gap: 100px;
        grid-template-columns: repeat(2, 240px);
        justify-content: space-around;
    }

    section#galeria{
        height: 1000px;
    }

    div.contato h2{
        font-size: 4rem;
        color: var(--cor5);
        padding-bottom: 50px;
    }

    div.imgcontato img{
        height: 400px;
        width: 650px;
        object-fit: cover;
    }
}